/* color palletes primary choice */
.color_16{
    background-color:#606c38;
}
.color_17{
    background-color:#283618; /*font color*/
}
.color_18{
    background-color:#f3fae0; /*font color*/
}
.color_19{
    background-color:#dda15e;
}
.color_20{
    background-color:#bc6c25;
}
/*************************************************************************/

