html, body {
    height: 100vh;
}
/* color palletes primary choice */
.color_16{
    background-color:#606c38;
}
.color_17{
    background-color:#283618; /*font color*/
}
.color_18{
    background-color:#f3fae0; /*font color*/
}
.color_19{
    background-color:#dda15e;
}
.color_20{
    background-color:#bc6c25;
}
/*************************************************************************/

/*font styles*/
.Noto_Serif{
    font-family: 'Noto Serif', serif;
}
.satisfy{
    font-family: 'Satisfy', cursive;
}

.navtext li a {
    color: #f3fae0;
    font-size: 1.5em;
}
li a:hover{
    color: #dda15e;
}


/* Carousel*/
/*Navbar*/


/*Responsive breakpoints

@media only screen and (max-width: 576px){
    .main_logo_size {
        width: 30px;
        height: 30px;
    }
}
@media only screen and   (max-width: 768px){
    .main_logo_size {
        width: 70px;
        height: 70px;
    }
}
@media only screen and   (min-width: 768px){
    .main_logo_size {
        width: 90px;
        height: 90px;
    }
}*/

