
/* color palletes primary choices */
.color_16{
    background-color:#606c38;
}
.color_17{
    background-color:#283618; /*font color*/
}
.color_18{
    background-color:#f3fae0; /*font color*/
}
.color_19{
    background-color:#dda15e;
}
.color_20{
    background-color:#bc6c25;
}
/*************************************************************************/

/**************************FONT STYLES*************************/
.Noto_Serif{
    font-family: 'Noto Serif', serif;
}
.satisfy{
    font-family: 'Satisfy', cursive;
}
.font_color_16{
    color:#606c38; 
}
.font_color_17{
    color:#283618; 
}
.font_color_18{
    color:#f3fae0; 
}
.font_color_19{
    color:#dda15e; 
}
.font_color_20{
    color:#bc6c25; 
}



/**************BUTTON STYLING****************/
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited .btn-primary:focus{
    background-color: #606c38 !important;
    border-color: #606c38 !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited .btn-primary:focus{
    background-color: #dda15e !important;
    border-color: #dda15e !important;
}

/**************NAVIGATION BAR********************/

.navtext li a {
    color: #f3fae0;
    font-size: 1.5rem;
}

.navtext a:hover{
    color: #dda15e;
}
.navbar-dark{
    color: #f3fae0 !important;
}


/*************************About-biography sections*********************/
#biography h4{
    font-size: 2.2em;
    font-weight: bold;
}
#biography p{
    margin-top:2vw;
    font-size: 1 em;
}
.biography-right{
    border:#dda15e 2px solid;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#biography .bio-btn{
    font-size:12px;
}

/************************About-Quotation*************************/
#quotation {
    background-color:#f1f1f1;
    margin-top: 5vmax;
}

#quotation p.quote{
    font-size: 20px;
    padding-top: 4vmax;
   /* padding-bottom: 5vmax;*/
}
#quotation p.quoted-by{
    padding-top:2vmax;
    padding-bottom:3vmax;
    font-size:15px;
    font-weight: bold;
}
/*************************About-employment sections*********************/
#employment h4{
    font-size: 2.2em;
    font-weight: bold;
}
#employment p{
    margin-top:2vw;
    font-size: 1 em;
}
.employment-right{
    border:#dda15e 2px solid;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#employment .bio-btn{
    font-size:12px;
}

/************************About- another Quotation*************************/
#quotation2 {
    background-color:#f1f1f1;
    margin-top: 5vmax;
}

#quotation2 p.quote2{
    font-size: 20px;
    padding-top: 4vmax;
   /* padding-bottom: 5vmax;*/
}
#quotation2 p.quoted-by2{
    padding-top:2vmax;
    padding-bottom:3vmax;
    font-size:15px;
    font-weight: bold;
}

/*************************About-education section*********************/
#education h4{
    font-size: 2.2em;
    font-weight: bold;
}
#education p{
    margin-top:2vw;
    font-size: 1em;
}
.education-right{
    border:#dda15e 2px solid;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#education .bio-btn{
    font-size:12px;
}

/************************FOOTER*************************/
.custom-fab{
    margin-right: 20px;
    color:#f3fae0;
 
}
.footerlogo{
   /* margin-left: 2%;*/
    font-size: 0.7em;
}

.trademark{
    margin-top: 5vmax;
}
/* Carousel*/
/*Navbar*/


/*Responsive breakpoints*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #contact_header{
        font-size: 20px;
    }
    #contact_lead{
        font-size: 11px;
    }
    #portfolio_header{
        font-size: 20px;
    }
    #portfolio_lead{
        font-size: 11px;
    }
    #about_header{
        font-size: 20px;
    }
    #about_lead{
        font-size: 11px;
    }

 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #contact_header{
        font-size: 30px;
    }
    #contact_lead{
        font-size: 14px;
    }
    #portfolio_header{
        font-size: 30px;
    }
    #portfolio_lead{
        font-size: 14px;
    }
    #about_header{
        font-size: 30px;
    }
    #about_lead{
        font-size: 14px;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #contact_header{
        font-size: 40px;
    }
    #contact_lead{
        font-size: 17px;
    }
    #portfolio_header{
        font-size: 40px;
    }
    #portfolio_lead{
        font-size: 17px;
    }
    #about_header{
        font-size: 40px;
    }
    #about_lead{
        font-size: 17px;
    }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}

/****************CONTACT FORM******************/
